[submodule "entities"]
	path = entities
	url = https://github.com/seaorm-up/entities
[submodule "data-dict"]
	path = data-dict
	url = https://github.com/seaorm-up/data-dict
[submodule "common"]
	path = common
	url = https://github.com/seaorm-up/common
